.container{
    display:flex;
    justify-content:center;
    align-items:center;
}
.inputbox{
    display:flex;
    flex-direction:row;
}
.action {
    padding: 10px;
    margin: 10px;
}
.btn {
    background-color: #1d9bee;
}
.input{
    border:2px solid white;
}
.cbtn {
    background-color: #fb4848;
}

.inputbox {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info {
    padding: 1px 8px;
    border-radius: 50%;
    border: 1px solid #97c8e9;
    background-color: whitesmoke;
}

.msg {
    position: absolute;
    left: 100%;
    width: 300px;
    z-index: 5;
    padding: 10px;
    border-radius: 7px;
    border: 2px solid white;
    background-color: rgba(141, 141, 141, 0.80);
    transition: opacity 300ms ease;
    opacity: 0;
    pointer-events: none;
}

    .info:hover ~ .msg,
    .msg:hover {
        opacity: 1;
        pointer-events: all;
    }
