.content{
    width:80vw;
    display:flex;
    flex-direction:column;
}
.inputbox {
    width: max-content;
    margin: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
}
.btn,.cbtn {
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0px 0px 0px 0px rgba( 0, 0, 0, 0.60);
    transition: box-shadow 250ms ease,transform 250ms ease;
}
.btn:focus,
.btn:hover,
.cbtn:focus,
.cbtn:hover{
    transform: scale(1.01);
    box-shadow: 5px 5px 10px 0px rgba( 1, 1, 0, 0.60);
}
.input {
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    border: 2px solid white;
    background-color: rgba(212, 208, 208, 0.50);
    transition: background-color 300ms ease,width 300ms ease;
}
.input:focus {
    width: 250px;
    background-color: rgba(255, 255, 255, 0.50);
}
.ddl {
    height: 30px;
    border-radius: 3px;
    max-width: 250px;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.60);
}
.lable{
    width:200px;
}
.PError {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    width: 90vw;
    transform: translateX(-50%);
    border-radius: 0px 0px 10px 10px;
    padding: 20px 30px 20px 20px;
    margin: 0px 20px;
    border: 2px solid red;
    background-color: rgba(245, 245, 245, 0.95);
    text-align: center;
    z-index: 1000;
    transition: opacity 300ms ease;
}

.Lerr {
    color: black;
    font-weight: bolder;
}
