.content {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 75vw;
    justify-content: flex-start;
}
.tabs{
    margin:15px 20px 0px 20px;
    display:flex;
    flex-direction:row;
}
.tab{
    color:black;
    padding:10px;
    border-radius:5px 5px 0px 0px;
    text-decoration:none;
    border:1px solid black;
    background-color: aliceblue;
    z-index:2;
}
.active{
    background-color:rgba(102, 201, 239, 0.70);
    border-bottom:1px solid white;
}
.tabpanel {
    width: 100%;
    min-width: 710px;
    padding:15px;
    margin: 0px 10px;
    border-radius: 5px;
    border: 1px solid black;
    transform: translateY(-1px);
}
.inner-content {
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: 20px 150px minmax(300px,450px) minmax(150px,1fr);
    align-items: center;
    justify-content: start;
}
.lable{
    grid-column: 2/3;
}
.input {
    grid-column: 3/4;
    padding: 10px;
    border-radius: 3px;
    border: 2px solid white;
    width: 300px;
    background-color: rgba(212, 208, 208, 0.50);
    transition: width 300ms ease;
}
.input:focus{
    width:330px;
}
.save {
    grid-column: 3/4;
    align-self: center;
    justify-self: start;
}
.GVRegB {
    width:calc(100% - 30px);
    margin: 15px;
    text-align: center;
    border-collapse: collapse;
    margin: 15px;
}

.GVRegB td,.GVRegB th{
    border: 1px solid #ddd;
    padding: 5px 0px;
    max-width:175px;
}

.GVRegB tr:nth-child(even) {
    background-color: #f2f2f2;
    transition:background-color 300ms ease;
}

.GVRegB tr:nth-child(odd) {
    background-color: #ddd;
    transition:background-color 300ms ease;
}

.GVRegB tr:hover {
    background-color: rgb(156, 210, 241);
}

.GVRegB th{
    padding: 12px 0px;
    background-color: #4CAF50;
    color: white;
}
.pager td{
    padding:5px;
}
.DisplayNone {
    display: none;
}

.GVinput{
    padding:10px;
    text-align:center;
    width:100px;
    border-radius:3px;
    border:2px solid white;
    background-color:rgba(221, 221, 221, 0.60);
    transition:border-color 300ms ease;
}
.input-area{
    resize:vertical;
    min-width:175px;
    min-height:100px;
}

.ddl {
    height: 30px;
    width: 300px;
    border-radius: 3px;
    max-width: max-content;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.60);
}
.GVinput:focus{
    background-color:whitesmoke;
    border:2px solid #2486e4;
}
.btn {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    font-weight:600;
    background-color: #1d9bee;
    box-shadow: 0px 0px 0px 0px rgba( 0, 0, 0, 0.60);
    transition: box-shadow 250ms ease,transform 250ms ease;
}
.btn:focus,
.btn:hover{
    transform: scale(1.01);
    box-shadow: 5px 5px 10px 0px rgba( 1, 1, 0, 0.60);
}

.hero{
    display:flex;
    justify-content:space-around;
    align-items:center;
}