.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-text{
    margin:10px;
}
.ratesTable {
    width: 75vw;
    margin: 15px;
    text-align: center;
    border-collapse: collapse;
}

    .ratesTable td, .ratesTable th {
        border: 1px solid #ddd;
        padding: 8px 0px;
    }

    .ratesTable tr:nth-child(even) {
        background-color: #f2f2f2;
        transition: background-color 300ms ease;
    }

    .ratesTable tr:nth-child(odd) {
        background-color: #ddd;
        transition: background-color 300ms ease;
    }

    .ratesTable tr:hover {
        background-color: rgb(156, 210, 241);
    }

    .ratesTable th {
        padding: 12px 0px;
        background-color: #4CAF50;
        color: white;
    }