.container{
    display:flex;
    flex-direction:column;

}
.full__div{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    position: relative;
    border: 2px solid #0094ff;
    border-radius: 10px;
    margin: 30px 10px 10px 10px;
    padding: 30px 10px 10px 10px;
}
.hero__text {
    position: absolute;
    top: -1rem;
    left: 2rem;
    color: #00508a;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
}
.gv {
    width: 75vw;
    margin: 15px;
    text-align: center;
    border-collapse: collapse;
}

.gv td, .gv th {
    border: 1px solid #ddd;
    padding: 8px 0px;
}

.gv tr:nth-child(even) {
    background-color: #f2f2f2;
    transition: background-color 300ms ease;
}

.gv tr:nth-child(odd) {
    background-color: #ddd;
    transition: background-color 300ms ease;
}

.gv tr:hover {
    background-color: rgb(156, 210, 241);
}

.gv th {
    padding: 12px 0px;
    background-color: #4CAF50;
    color: white;
}
.btn {
    background-color: #2bd2ff;
}